<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "head.html" }}
    <style>
        .background-hijau {
            background-color: green;
        }

        .background-abuabu {
            background-color: grey;
        }

        .text-awal {
            white-space: pre-line;
            width: 100%;
        }

        .ulangi-pesan {
            background-color: transparent;
            background-repeat: no-repeat;
            border: none;
            font-weight: bolder;
        }

        .btn-primary {
            background-color: grey;
            border-color: rgb(167, 167, 167);
        }

        .btn-primary:hover {
            background-color: rgb(144, 144, 144);
            border-color: rgb(167, 167, 167);
        }

        .btn-success .btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
            background-color: rgb(144, 144, 144);
            border-color: rgb(167, 167, 167);
        }

        .tombol-ujung { 
            font-size: 20px;
            height: 45px;
            width: 45px;
            color: white;
            background-color: #1d1d1d;
            border: 1px solid rgb(81, 81, 81);
            border-radius: 5px;
        }

        .dropdown-item:focus {
            background-color: transparent !important;
        }

        .dropdown-item:hover {
            background-color: #191919 !important;
        }

        .form-control, .form-select {
            color: white !important;
            background-color: #2d2d2d;
            border-color: rgb(80, 80, 80);
        }

        .form-control:focus {
            box-shadow: none !important;
            background-color: #2d2d2d;
            border-color: rgb(97, 97, 97);
        } 

        .form-control::placeholder {
            color: grey;
        }

        #tempat_chat::-webkit-scrollbar {
            display: none;
        }

        #sarankalimatdiv {
            color: white;
            background-color: rgb(144, 144, 144);
            border: 1px solid rgb(167, 167, 167);
            border-radius: .375rem;
            overflow-y: scroll;
        }

        #sarankalimatdiv::-webkit-scrollbar {
            display: none;
        }

        .tapo-scrollbar::-webkit-scrollbar {
            display: none;
        }

        .hover:hover {
            cursor: pointer;
        }

        .loader {
            width: 60px;
            aspect-ratio: 4;
            --_g: no-repeat radial-gradient(circle closest-side,#e2e2e2 90%,#0000);
            background: 
                var(--_g) 0%   50%,
                var(--_g) 50%  50%,
                var(--_g) 100% 50%;
            background-size: calc(100%/3) 100%;
            animation: l7 1s infinite linear;
        }
        @keyframes l7 {
            33%{background-size:calc(100%/3) 0%  ,calc(100%/3) 100%,calc(100%/3) 100%}
            50%{background-size:calc(100%/3) 100%,calc(100%/3) 0%  ,calc(100%/3) 100%}
            66%{background-size:calc(100%/3) 100%,calc(100%/3) 100%,calc(100%/3) 0%  }
        }
    </style>
</head>
<body style="background-color: #1d1d1d; overflow-x: hidden;">
    <div class="align-items-center p-2 mb-2" style="height: 70px; background-color: #212121;">
        <div class="d-flex align-items-center ms-2">
            <img src="{{ .karakter.Gambar }}" alt="" width="50" height="50" class="me-2 rounded-1" />
            <div class="flex-grow-1 row">
                <span class="text-white" style="font-weight: 600; font-size: larger;">{{ .karakter.Nama }}</span>
                <span class="text-white-50">{{ .karakter.NamaLain }} </span>
            </div>
            <div class="dropdown">
                <button class="tombol-ujung" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-gear-fill"></i>
                </button>
                <ul class="dropdown-menu" style="background-color: #2d2d2d;">
                    <li>
                        <form action="/api/chat/buatchat" method="post">
                            <input type="hidden" name="karakterID" value="{{ .karakter.ID }}" />
                            <input type="hidden" name="status" value="baru" />
                            {{ if .idchat }} 
                            <input type="hidden" name="chatID" value="{{ .chatid }}" />
                            {{ end }}
                            <input type="submit" class="dropdown-item" style="color: white;" value="New Chat" />
                        </form>
                    </li>
                    <li>
                        <form action="/api/chat/buatchat" method="post">
                            <input type="hidden" name="karakterID" value="{{ .karakter.ID }}" />
                            <input type="hidden" name="status" value="clone" />
                            {{ if .idchat }} 
                            <input type="hidden" name="chatID" value="{{ .chatid }}" />
                            {{ end }}
                            <input type="submit" class="dropdown-item" style="color: white;" value="Clone Chat" />
                        </form>
                    </li>
                    <li>
                        <button type="button" class="dropdown-item" style="color: white;" data-bs-toggle="modal" data-bs-target="#HapusChat">
                            Delete Chat
                        </button>
                    </li>
                    <li>
                        <button type="button" class="dropdown-item" style="color: white;" data-bs-toggle="modal" data-bs-target="#ListChat">
                            List Chat
                        </button>
                    </li>
                    <li><hr class="dropdown-divider" style="background-color: white;"></li>
                    <li><a class="dropdown-item text-white" href="#" data-bs-toggle="modal" data-bs-target="#Personalitas">Create Personality</a></li>
                    <li><div class="text-white" style="padding: .25rem 1rem; white-space: nowrap;" id="nama-personalitas">{{ if .akun.Personalitas.Nama }}Personality: {{ .akun.Personalitas.Nama }}{{else}}No Personality{{end}}</div></li>
                    {{ if eq .karakter.AkunID .akun.ID }}
                    <li><hr class="dropdown-divider" style="background-color: white;"></li>
                    <li>
                        <a href="/editkarakter/{{ .karakter.ID }}" class="dropdown-item text-white">
                            Edit Character
                        </a>
                    </li>
                    {{ end }}
                </ul>
            </div>
            <!--<button class="tombol-ujung" data-bs-toggle="popover">
                <i class="bi bi-gear-fill"></i>
            </button>
            -->
        </div>
    </div>
    <div>
        <div id="tempat_chat" style="height: calc(100dvh - 138px); overflow-y: scroll;">
            <!-- <p id="text-awal" class="p-2 m-2 text-white" style="word-break: break-all; white-space: pre-line; background-color: grey;">*Hugging him tightly* It feels really nice to have you here, John.</p> -->
            {{ $user := "user" }}
            {{ $panjangChat := .PanjangChat}}
            {{ range $index, $element := .isi }}
            <div class="d-flex mx-2 mb-2" data-id="{{$element.ID}}">
                <div class="d-flex w-100 text-white isi-text" id="isi-text-{{$element.ID}}">
                    <div id="textchat-{{$element.ID}}" class="p-2 text-awal {{ if eq $element.Role $user }}background-hijau{{ else }}background-abuabu{{ end }}">{{ $element.Chat }}</div>            
                    {{ if and (or ( and (eq $index 0) (eq $panjangChat 0) ) (eq $index $panjangChat)) (ne $element.Role $user)  }}
                        <div>
                            <button class="dropdown ulangi-pesan text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="top: calc(50% - 15px);">
                                <i class="bi bi-three-dots-vertical h4 background-abuabu p-1"></i>
                            </button>
                            <ul class="dropdown-menu" style="background-color: #2d2d2d;">
                                <li><button class="dropdown-item text-white" onclick="UpdatePesan('edit', '{{$element.ID}}')"><i class="bi bi-pencil"></i> Edit Message</button></li>
                                {{ if ne $panjangChat 0 }}
                                <li><button class="dropdown-item text-white" onclick="UlangiPesan()"><i class="bi bi-arrow-clockwise"></i> Refresh Message</button></li>
                                <li><button class="dropdown-item" style="color: red;" onclick="HapusPesan()"><i class="bi bi-trash"></i> Delete Message</button></li>
                                {{ end }}
                            </ul>
                        </div>
                    {{ end }}
                </div>

                <div class="d-none w-100 edit-text" id="edit-text-{{$element.ID}}">
                    <textarea id="textarea-{{$element.ID}}" class="p-2 text-white text-awal" style="background-color: #545353; border: 1px solid rgb(133, 133, 133); outline: none; resize: none">{{ $element.Chat }}</textarea>
                    <div class="d-flex flex-column">
                        <button class="text-white dropdown" style="background-color: transparent; border: 0;" type="button" data-bs-toggle="dropdown" aria-expanded="false" onclick="UpdatePesan('konfirmasi', '{{$element.ID}}')">
                            <i class="bi bi-check h4 p-1"></i>
                        </button>
                        <button class="text-white dropdown" style="background-color: transparent; border: 0;" type="button" data-bs-toggle="dropdown" aria-expanded="false" onclick="UpdatePesan('nvm', '{{$element.ID}}')">
                            <i class="bi bi-x h4 p-1"></i>
                        </button>
                    </div>
                </div>
            </div>
            {{ end }}  
        </div>

        <div class="h-auto w-100" style="background-color: #212121;">
            <div class="d-flex">
                <textarea id="pesan" class="p-2 text-white" type="text" style="background-color: #212121; border: 0; outline: none; height: 60px; resize: none; width: 100%" placeholder="Message" required></textarea>
                <button class="px-4 btn btn-success" type="button" onclick="KlikSend()">Send</button>
            </div>
        </div>
    </div>
    <div class="end-0" id="loader-sarankalimat" style="position: fixed; height: auto; bottom: 75px; max-width: 150px; z-index: 999; width: 100px; height: 25px; display: none;">
        <div class="loader"></div>
    </div>
    <div class="end-0" id="sarankalimat" style="position: fixed; height: auto; bottom: 75px; max-width: 150px;">
        <button class="btn btn-primary" onclick="SaranKalimat()">Continue as me</button>
    </div>
    <div class="end-0" id="sarankalimatdiv" style="position: fixed; height: auto; bottom: 125px; max-height: 150px; max-width: 150px; display: none">
        <button class="text-white" id="text-sarankalimat" style="height: 100px; background: none; border: none;">TEST</button>
    </div>
    <div class="modal fade" id="HapusKarakter" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered text-white">
            <div class="modal-content" style="background-color: #191919;">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Character</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete YOUR OWN character creation?</p>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nevermind</button>
                    <button type="button" class="btn btn-danger">Yes, Delete!</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="HapusChat" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered text-white">
            <div class="modal-content" style="background-color: #191919;">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Chat</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete chat?</p>
                    <form action="/api/chat/hapuschat" method="post" enctype="">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nevermind</button>
                        <input type="hidden" name="karakterID" value="{{ .karakter.ID }}" />
                        {{ if .idchat }} 
                        <input type="hidden" name="chatID" value="{{ .chatid }}" />
                        {{ end }}
                        <input type="submit" class="btn btn-danger" value="Yes, Delete!" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ListChat" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered text-white">
            <div class="modal-content" style="background-color: #191919;">
                <div class="modal-header">
                    <h5 class="modal-title">List Chat</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>All list chat</p>
                    {{ $Karakter := .karakter }}
                    {{ range $index, $element := .semuaChat }}
                    <div onclick="window.location.replace('/chat/{{$Karakter.ID}}/{{$element.IDChat}}')" class="background-abuabu rounded mb-2 hover" style="max-height: 80px; height: 80px; border: 2px solid; border-color: rgb(196, 196, 196);">
                        <div class="d-flex">
                            <div class="p-2 flex-shrink-1">
                                <img src="{{ $Karakter.Gambar }}" alt="" width="50" height="50" class="rounded-1" />
                            </div>
                            <div class="p-2 w-100">
                                <div>{{ $Karakter.Nama }}</div>
                                <div class="overflow-auto tapo-scrollbar" style="height: calc(6dvh - 15px)">{{ $element.ChatTerakhir }}</div>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="BuatPersonalitas" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered text-white">
            <div class="modal-content" style="background-color: #191919;">
                <div class="modal-header">
                    <h5 class="modal-title" id="TitlePersonalitas">Create Personality</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="idPersonalitas" value="" />

                    <div class="mb-3">
                        <label>Name</label>
                        <input type="text" class="form-control" name="nama" maxlength="40" placeholder="John" required />
                    </div>
                    <div class="mb-3">
                        <label>Personality</label>
                        <textarea class="form-control" name="personalitas" style="resize: none;" maxlength="150" rows="3" placeholder="John is a 18 years old highschool student who likes to play badminton" required></textarea>
                    </div>

                    <div class="text-center">
                        <div class="alert" style="padding: 10px 10px; display: none;" id="StatusBuatPersonalitas">Success: Personality created</div>
                        <div class="spinner-border text-light" id="loading-BuatPersonalitas" style="display: none;">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>

                    <br>

                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#Personalitas">Back</button>
                    <button type="button" class="btn btn-success" onclick="SubmitPersonalitas()">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="Personalitas" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered text-white">
            <div class="modal-content" style="background-color: #191919;">
                <div class="modal-header">
                    <h5 class="modal-title">Personality</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ if not .personalitas }}
                    <div>No Personality</div>
                    {{ else }}
                    <div>List Personalities</div>
                    {{ end }}
                    <ul class="list-group list-group-flush" id="list-personalitas">
                        {{ $IDPersonalitas := .akun.Personalitas.ID }}
                        {{ range $element := .personalitas }}
                        <li class="list-group-item text-white" style="background-color: transparent;">
                            <div class="d-flex">
                                <div class="flex-grow-1 pt-1" id="nama-personalitas-{{$element.ID}}">Name: {{ $element.Nama }}</div>
                                <button class="btn btn-primary me-2" id="edit-personalitas-{{ $element.ID }}" onclick="PersonalitasMenu({id: '{{$element.ID}}', status: 'edit', nama: $('#nama-personalitas-{{$element.ID}}').text().replace('Name: ', ''), personalitas: $('#personalitas-personalitas-{{$element.ID}}').text().replace('Personality: ', '')})" data-bs-toggle="modal" data-bs-target="#BuatPersonalitas">Edit</button>
                                <button class="btn btn-primary tombol-personalitas" id="personalitas-{{ $element.ID }}" onclick="PersonalitasMenu({id: '{{$element.ID}}', status: 'pilih'})">{{ if eq $IDPersonalitas $element.ID }}Selected{{ else }}Select{{ end }}</button>                                
                            </div>
                            <span class="mb-1" id="personalitas-personalitas-{{$element.ID}}">Personality: {{ $element.Personalitas }}</span>
                        </li>
                        {{ end }}
                    </ul>
                    <div class="text-center">
                        <div class="alert" style="padding: 10px 10px; display: none;" id="StatusPilihPersonalitas">Success: Personality selected</div>
                        <div class="spinner-border text-light" id="loading-PilihPersonalitas" style="display: none;">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>

                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#BuatPersonalitas" onclick="PersonalitasMenu({status: 'buat'})">Create</button>
                </div>
            </div>
        </div>
    </div>
    <!--
    <div class="position-fixed h-auto w-100 bottom-0" style="background-color: #212121;">
        <div class="d-flex">
            <textarea id="pesan" class="p-2 text-white" type="text" style="background-color: #212121; border: 0; outline: none; height: 60px; resize: none; width: 100%" placeholder="Message" required></textarea>
            <button class="px-4 btn btn-success" type="button" onclick="KlikSend()">Send</button>
        </div>
    </div>
    -->
    
    {{ template "body.html" }}

    <script>
        function RenderText(text) {
            return text.replace(/\*(.*?)\*/g, "<b><i>$1</i></b>")
        }

        function OriginalText(text) {
            return text.replace(/<b><i>(.*?)<\/i><\/b>/g, "*$1*")
        }

        function TambahinDropDownUntukSatu(id) {
            return document.getElementById("tempat_chat").children.length > 1 ?  `
                <li><button class="dropdown-item text-white" onclick="UpdatePesan('edit', '${id}')"><i class="bi bi-pencil"></i> Edit Message</button></li>
                <li><button class="dropdown-item" style="color: red;" onclick="HapusPesan()"><i class="bi bi-trash"></i> Delete Message</button></li>
                ` : "";
        }

        function TambahinText(text, id) {
            return `
            <div class="d-flex mx-2 mb-2">
                <div class="d-flex w-100 text-white isi-text" id="isi-text-${id}">
                    <div id="textchat-${id}" class="p-2 text-awal background-abuabu">${RenderText(text)}</div>            
                    <div>
                        <button class="text-white dropdown ulangi-pesan" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="top: calc(50% - 15px);">
                            <i class="bi bi-three-dots-vertical h4 background-abuabu p-1"></i>
                        </button>
                        <ul class="dropdown-menu" style="background-color: #2d2d2d;">
                            <li><button class="dropdown-item text-white" onclick="UlangiPesan()"><i class="bi bi-arrow-clockwise"></i> Refresh Message</button></li>
                            ${TambahinDropDownUntukSatu(id)}
                        </ul>
                    </div>
                </div>

                <div class="d-none w-100 edit-text" id="edit-text-${id}">
                    <textarea id="textarea-${id}" class="p-2 text-white text-awal" style="background-color: #545353; border: 1px solid rgb(133, 133, 133); outline: none; resize: none">${text}</textarea>
                    <div class="d-flex flex-column">
                        <button class="text-white dropdown" style="background-color: transparent; border: 0;" type="button" data-bs-toggle="dropdown" aria-expanded="false" onclick="UpdatePesan('konfirmasi', '${id}')">
                            <i class="bi bi-check h4 p-1"></i>
                        </button>
                        <button class="text-white dropdown" style="background-color: transparent; border: 0;" type="button" data-bs-toggle="dropdown" aria-expanded="false" onclick="UpdatePesan('nvm', '${id}')">
                            <i class="bi bi-x h4 p-1"></i>
                        </button>
                    </div>
                </div>
            </div>
            `
        }

        let CooldownKirimPesan = false;
        function KlikSend() {
            if(CooldownKirimPesan) {
                return;
            }
            CooldownKirimPesan = true;

            const pesan = $('#pesan').val();

            if(pesan === "") {
                CooldownKirimPesan = false;
                return;
            }

            $("#tempat_chat").append(`
            <div class="d-flex mx-2 mb-2">
                <div class="p-2 text-white text-awal background-hijau">${RenderText(pesan)}</div>
            </div>
            `);
            $('#pesan').val("");
            $("#sarankalimat").css("display", "block");
            $("#loader-sarankalimat").css("display", "none");
            $("#text-sarankalimat").parent().css("display", "none");
            $("#tempat_chat").append(`
            <div class="d-flex mx-2 mb-2">
                <div class="p-3 background-abuabu" id="loading-chat">
                    <div class="loader"></div>
                </div> 
            </div>
            `)
            $("button.ulangi-pesan").parent().remove();

            $(".edit-text").removeClass("d-flex")
            $(".edit-text").addClass("d-none")
            $(".isi-text").addClass("d-flex")
            $(".isi-text").removeClass("d-none")

            $.ajax({
                url: "/api/chat",
                type: "POST",
                data: JSON.stringify({ "karakterID": "{{ .karakter.ID }}", "chat": pesan, chatID: "{{ .chatid }}" }),
                contentType: "application/json"
            }).done(v => {
                if(v.chat === undefined) {
                    return;
                }

                $("button.ulangi-pesan").parent().remove();
                $("#loading-chat").parent().remove();

                $("#tempat_chat").append(TambahinText(v.chat, v.id))

                CooldownKirimPesan = false;
            })
        }

        let CooldownUlangiPesan = false;
        function UlangiPesan() {
            if(CooldownUlangiPesan) {
                return;
            }

            CooldownUlangiPesan = true;

            const IsiOmongan =$("#tempat_chat").children("div");
            IsiOmongan[IsiOmongan.length - 1].remove();

            $.ajax({
                url: "/api/chat/ulangipesan",
                type: "POST",
                data: JSON.stringify({ "karakterID": "{{ .karakter.ID }}" }),
                contentType: "application/json"
            }).done(v => {
                if(v.chat === undefined) {
                    return;
                }

                $("#tempat_chat").append(TambahinText(v.chat, v.id))
                CooldownUlangiPesan = false;
            });
        }

        let CooldownHapus = false;
        function HapusPesan() {
            if(CooldownHapus) {
                return;
            }
            CooldownHapus = true;

            const IsiOmongan =$("#tempat_chat").children("div");

            $.ajax({
                url: "/api/chat/hapuspesan",
                type: "POST",
                data: JSON.stringify({ karakterID: "{{ .karakter.ID }}", chatID: "{{ .chatid }}" }),
                contentType: "application/json"
            }).done(v => {
                if(v.status !== "sukses" || IsiOmongan.length - 2 < 0) {
                    return;
                }

                IsiOmongan[IsiOmongan.length - 1].remove();
                IsiOmongan[IsiOmongan.length - 2].remove();

                const IDSebelumnya = IsiOmongan[IsiOmongan.length - 3].getAttribute("data-id");
                $(IsiOmongan[IsiOmongan.length - 3]).find('.isi-text').append(`
                <div class="btn-group">
                    <button class="text-white dropdown ulangi-pesan" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-three-dots-vertical h4 background-abuabu p-1"></i>
                    </button>
                    <ul class="dropdown-menu" style="background-color: #2d2d2d;">
                        <li><button class="dropdown-item text-white" onclick="UlangiPesan()">Refresh Message</button></li>
                        ${TambahinDropDownUntukSatu(IDSebelumnya)}
                    </ul>
                </div>
                `)

                CooldownHapus = false;
            });
        }

        let SaranKalimatText = "";
        function SaranKalimat() {
            $("#sarankalimat").css("display", "none");
            $("#loader-sarankalimat").css("display", "block");

            $.ajax({
                url: "/api/chat/sarankalimat",
                type: "POST",
                data: JSON.stringify({ "karakterID": "{{ .karakter.ID }}", chatID: "{{ .chatid }}" }),
                contentType: "application/json"
            }).done(v => {
                $("#sarankalimat").css("display", "block");
                $("#loader-sarankalimat").css("display", "none");
                $("#text-sarankalimat").parent().css("display", "none");

                if(v.chat === undefined) {
                    return;
                }

                $("#text-sarankalimat").text(v.chat);
                $("#text-sarankalimat").parent().css("display", "block");
                SaranKalimatText = v.chat;
            });
        }

        let CooldownUpdatePesan = false;
        function UpdatePesan(status, IdPesan) {            
            if(status === "edit") {
                const tinggi = $(`#edit-text-${IdPesan}`).parent().height();

                $(`#isi-text-${IdPesan}`).addClass("d-none");
                $(`#isi-text-${IdPesan}`).removeClass("d-flex");
                $(`#edit-text-${IdPesan}`).addClass("d-flex");
                $(`#edit-text-${IdPesan}`).removeClass("d-none");

                $(`#textarea-${IdPesan}`).height(tinggi);
                $(`#textarea-${IdPesan}`).val(OriginalText($(`#textarea-${IdPesan}`).val()))
                
                return;
            }

            if(status === "nvm") {
                $(`#isi-text-${IdPesan}`).removeClass("d-none");
                $(`#isi-text-${IdPesan}`).addClass("d-flex");
                $(`#edit-text-${IdPesan}`).removeClass("d-flex");
                $(`#edit-text-${IdPesan}`).addClass("d-none");

                return;
            }

            if(CooldownUpdatePesan) {
                return;
            }
            CooldownUpdatePesan = true;

            const EditTextPesan = $(`#textarea-${IdPesan}`).val();
            $.ajax({
                url: "/api/chat/updatepesan",
                type: "POST",
                data: JSON.stringify({ karakterID: "{{ .karakter.ID }}", chat: EditTextPesan, pesanID: IdPesan, chatID: "{{ .chatid }}" }),
                contentType: "application/json"
            }).done(v => {
                if(v.status !== "sukses") {
                    return;
                }

                $(`#textchat-${IdPesan}`).html(RenderText(EditTextPesan));

                $(`#isi-text-${IdPesan}`).removeClass("d-none");
                $(`#isi-text-${IdPesan}`).addClass("d-flex");
                $(`#edit-text-${IdPesan}`).removeClass("d-flex");
                $(`#edit-text-${IdPesan}`).addClass("d-none");

                CooldownUpdatePesan = false;
            });
        }

        let StatusPersonalitas = "buat";
        let IDPersonalitas = "{{.akun.Personalitas.ID}}";

        function SubmitPersonalitas(data) {
            data = data ?? {};
            data.status = StatusPersonalitas;

            if(data.status !== "pilih") {
                data.id = $('[name="idPersonalitas"]').val();
                data.nama = $('[name="nama"]').val();
                data.personalitas = $('[name="personalitas"]').val();
    
                $("#loading-BuatPersonalitas").css('display', 'inline-block');
                $("#StatusBuatPersonalitas").css("display", "none");

                if(data.nama === "" || data.personalitas === "") {
                    return;
                }
            }

            $.ajax({
                url: "/personalitas",
                type: "POST",
                data: JSON.stringify(data),
                contentType: "application/json"
            }).then(v => {
                if(data.status !== "pilih") {
                    $("#loading-BuatPersonalitas").css('display', 'none');
                    $("#StatusBuatPersonalitas").css("display", "block");
                }

                if(v.status === "Error") {
                    $("#StatusBuatPersonalitas").text("Error");
                    $("#StatusBuatPersonalitas").addClass("alert-danger");
                    return;
                }

                IDPersonalitas = data.id;

                if(data.status !== "pilih") {
                    $("#StatusBuatPersonalitas").addClass("alert-success");
                }

                if(data.status === "buat") {
                    $("#list-personalitas").append(`
                    <li class="list-group-item text-white" style="background-color: transparent;">
                        <div class="d-flex">
                            <div class="flex-grow-1 pt-1" id="nama-personalitas-${v.id}">Name: ${v.nama}</div>
                            <button class="btn btn-primary me-2" id="edit-personalitas-${v.id}" onclick="PersonalitasMenu({id: '${v.id}', status: 'edit', nama: '${v.nama}', personalitas: '${v.personalitas}'})" data-bs-toggle="modal" data-bs-target="#BuatPersonalitas">Edit</button>
                            <button class="btn btn-primary tombol-personalitas" id="personalitas-${v.id}" onclick="PersonalitasMenu({id: '${v.id}', status: 'pilih'})">Select</button>                                
                        </div>
                        <span class="mb-1" id="personalitas-personalitas-${v.id}">Personality: ${v.personalitas}</span>
                    </li>
                    `)
                }

                if(data.status === "edit") {
                    $(`#nama-personalitas-${v.id}`).text(`Name: ${v.nama}`);
                    $(`#personalitas-personalitas-${v.id}`).text(`Personality: ${v.personalitas}`);

                    $('[name="personalitas"]').text(v.personalitas);
                    $('[name="nama"]').val(v.nama);
                }

                if(data.status === "pilih") {
                    $('.tombol-personalitas').each((_, v) => {
                        v.textContent = "Select";
                    });
    
                    $(`#nama-personalitas`).text("Personality: " + $(`#nama-personalitas-${data.id}`).text().replace("Name: ", ""));
                    $(`#personalitas-${data.id}`).text("Selected");
                    $("#StatusPilihPersonalitas").addClass("alert-success");
                }
            });
        }

        function PersonalitasMenu(data) {
            if(data.id === IDPersonalitas && data.status === "pilih") {
                return;
            }

            $("#TitlePersonalitas").text(data.status === "edit" ? "Edit Personality" : "Create Personality");
            StatusPersonalitas = data.status;

            if(data.status !== "pilih") {
                $("#StatusBuatPersonalitas").css("display", "none");
            }

            if(data.status === "edit") {
                $('[name="idPersonalitas"]').val(data.id);
                $('[name="personalitas"]').text(data.personalitas);
                $('[name="nama"]').val(data.nama);

                return;
            }

            if(data.status !== "buat") {
                SubmitPersonalitas(data);
            }
        }

        $(".text-awal").each((v, e) => {
            const elemn = $(e);
            elemn.html(RenderText(elemn.text()))
        })

        $("#sarankalimatdiv").on("click", () => {
            $("#pesan").val(SaranKalimatText);
            $("#text-sarankalimat").parent().css("display", "none");
        })

        if(IDPersonalitas == "") {
            $("#Personalitas").modal("show");
        }
    </script>
</body>
</html>