<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "head.html" }}
    <style>
        .form-control:focus {
            box-shadow: none !important;
        } 

        .form-control::placeholder {
            color: grey;
        }
    </style>
</head>
<body class="text-white" style="background-color: #1d1d1d; overflow-x: hidden;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card text-white" style="border-radius: 1rem; background-color: #2d2d2d;">
                    <div class="card-body p-5 text-center" style="outline: 2px solid rgb(80, 80, 80); border-radius: 1rem;">
                        
                        <img src="/assets/IconPer.png" alt="" style="width: 64px;" />

                        <div class="mb-1 mt-md-4 pb-4">
                            {{ if .flash }}
                            <div class="text-white text-center mb-3" style="background-color: red; height: 50px; text-align: center; line-height: 50px;">
                                {{index .flash 0}}
                            </div>
                            {{ end }}

                            <h2 class="fw-bold mb-2 text-uppercase">REGISTER</h2>
                            <form action="/register" method="post">
                                
                                <div class="form-outline form-white mb-4">
                                    <input type="text" id="username" name="username" class="form-control form-control-lg text-white" placeholder="Username" style="background-color: #1d1d1d; border-color: rgb(80, 80, 80); " />
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input type="email" id="email" name="email" class="form-control form-control-lg text-white" placeholder="Email" style="background-color: #1d1d1d; border-color: rgb(80, 80, 80); " />
                                </div>
                                
                                <div class="form-outline form-white mb-4">
                                    <input type="password" id="password" name="password" class="form-control form-control-lg text-white" placeholder="Password" style="background-color: #1d1d1d; border-color: rgb(80, 80, 80);" />
                                </div>

                                <input type="submit" class="btn btn-light btn-lg px-5" value="Create" />
                            </form>
                            
                            <div class="d-flex justify-content-center text-center mt-4 pt-1">
                                <a href="#!" class="text-white"><i class="bi bi-github mx-2 fs-5"></i></a>
                                <a href="#!" class="text-white"><i class="bi bi-google mx-2 fs-5"></i></a>
                            </div>
                        </div>
            
                        <div>
                            <p class="mb-0">Have an account? <a href="./login" class="text-white-50 fw-bold">Login!</a>
                            </p>
                        </div>
        
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ template "body.html" }}
</body>
</html>